*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.document{
	background-color:#c1c1c1;
	line-height:1.3;
	font-family:rubik,sans-serif;
}
.container{
	width:1200px;
	margin:0 auto;
	padding:10px 20px;
	background-color:white;
}
a{color:gray;
	text-decoration:none;
}
/*-----divi1 starts---------------*/
.div1{display:flex;
	align-items:center;
	
}
.image{
	width:100px;
	height:100px;
	border-radius:50%;	
	background-color:lightblue;
	border:solid 2px;
	box-sizing:border-box;
}
img{
	width:100%;
	height:100%;
	border-radius:50%	
}
.name{
	flex-grow:1;
	padding-left:20px;
}
.name li{
	display:inline-block;
	padding-left:50px;	
}
.name li:nth-child(1){
	padding-left:0;
}
.name li:nth-child(1) a{
	color:black;
}
.div1 h2{border-bottom:solid gray 1px;
}
a:hover{color:red} 
/*-----divi1 ends---------------*/
/*-----divi2 starts---------------*/

.div2{
	margin-top:20px;
	margin-bottom:20px;
	padding:30px;
	font-size:20px;
	text-align:center;
	line-height:40px;
	background-color:black;
	color:white;
}
.div2 button{
	padding:10px 15px;
	color:white;
	background-color:black;
	border-color:white;
}
/*-----divi2 ends---------------*/
/*-----skill and education starts---------------*/
.skill,.education{
	border-top:solid 1px gray;
	padding-top:10px;
	padding-bottom:10px;
	
}
.skillflex{
	display:flex;
	align-items:center;
	padding-bottom:10px;
	padding-top:10px;
}
.skill li{
	display:inline-block;
	padding-left:50px;	
}
.skill li:nth-child(1){padding-left:0}

.edu-flex{
	display:flex;
	align-items:center;
	padding-bottom:10px;
	padding-top:10px;
		}
/*-----skill and education ends---------------*/
/*-----table starts---------------*/
table{
	width:100%;
	padding:20px
}

th{
	height:70px;
	border-bottom:solid 1px #ddd;
	background-color:#8080808a;
}
tr{
	height:50px;
	
}
td{
	vertical-align:bottom;
	border-bottom:solid 1px #ddd;
	padding-left:50px;
}

tr:nth-child(even){background-color:#d3d3d369;
}
td:nth-child(4){width:100px}

tbody tr:hover{background-color:lightgreen;
}
/*-----table ends---------------*/

.icofont-brainstorming,.icofont-hat-alt,.icofont-paper {
	font-size:40px;
	padding:10px;
}
/*-----certification starts---------------*/
.certification-flex{
	display:flex;
	align-items:center;
}
.certification-flex li{
		list-style-type:square;
}
.certification-flex ul{
		padding-left:20px;
}
.projects{
	border-left:solid 3px lightgray;
	color:gray;
	padding-left:20px;
	margin:15px 0px;
}
.projects h3{color:black;}
/*-----certification ends---------------*/
/*-----footer starts---------------*/
.rights {
		display:inline-block;
		border-left:2px solid;
		padding-left:10px;
		margin-left:10px;
}
.media li{display:inline-block;
		padding:10px 10px;
}
.media a{
	font-size: 20px;
	width:30px;
	height:30px;
	display: inline-block;
	color: black;
	border:solid 2px;
	border-radius:50%;
	text-align:center;
}

.media  a:hover{color:red}

/*-----footer ends---------------*/